$black: #000000;
$white: #ffffff;

$bgLight: #f5f5f5;
$bgBlack: #030201;
$bgDarkBlack: #1c1c1c;
$bgBlackLight: #222222;

$bgBlackLighter: #303030;
$btnBlack: #272420;
$btnBlackHover: #302a24;
$btnWhiteHover: #eae3e3;

$brownText: #7b6c63;
$brownLightText: #949494;
$brownDarkText: #363636;
$brownDarkerText: #24211e;
$brownDarkerDoubleText: #212121;
$brownLightSemiText: #595959;

$greyText: #949494;
$greyDarkkText: #5b5b5b;
$greyDarkDoubleText: #5f5f5f;
$greySemiDark: #929292;
$greyLightText: #c2c2c2;