.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-justify-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-justify-evently {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.flex-items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-content-start {
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.flex-content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.flex-content-center {
  -ms-flex-line-pack: center;
  align-content: center;
}

.flex-content-between {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.flex-content-around {
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.flex-content-evenly {
  -ms-flex-line-pack: space-evenly;
  align-content: space-evenly;
}

.flex-content-stretch {
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}