@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Oleo+Script&family=Raleway:wght@300;400;500;600&display=swap');

html, html *, body, body * {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.logo {
  font-family: 'Oleo Script', cursive;
  font-size: 3rem;
  font-weight: 400;
}