.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-auto {
  width: auto;
}

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.h-auto {
  height: auto;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 28px 30px;
}